<div class="container wrapper wrapper2">
  <div class="row">
    <div class="col-md-12">
      <h3>Nuevo Conductor</h3>
      <form [formGroup]="driverForm" (ngSubmit)="submitForm()" novalidate>
        <div class="form-group">
          <label for="firstName">Nombre</label>
          <input type="text" formControlName="firstName" class="form-control" />
        </div>
        <div class="form-group">
          <label for="lastName">Apellidos</label>
          <input type="text" formControlName="lastName" class="form-control" />
        </div>
        <div class="form-group">
          <label for="identification">Documento de identidad</label>
          <input
            type="text"
            formControlName="identification"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="identification">Fecha de nacimiento</label>
          <input type="date" formControlName="birthday" class="form-control" />
        </div>
        <div class="form-group">
          <label for="phone">Teléfono</label>
          <input type="text" formControlName="phone" class="form-control" />
        </div>
        <div class="form-group">
          <label for="mobile">Celular</label>
          <input type="text" formControlName="mobile" class="form-control" />
        </div>
        <div class="form-group">
          <label for="address">Dirección</label>
          <input type="text" formControlName="address" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>
  </div>
</div>
